* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  background: #010013;
}

.container-nav {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 212, 255, 0) 100%);
  height: 270px;
  width: 100%;
  z-index: 20;
}
.container-nav__bar {
  display: flex;
  padding: 50px;
  justify-content: center;
}
.container-nav__bar h1 {
  display: none;
}
.container-nav__bar img {
  width: 300px;
  box-shadow: 2px 2px 30px #000;
  margin: 0 30px;
}
.container-nav__bar li {
  display: inline-block;
  transition: all 0.4s ease-in;
}
.container-nav__bar li a {
  color: #fff;
  text-decoration: none;
  text-shadow: 10px 15px 10px black;
  margin: 0 20px;
  padding: 5px;
  font-size: 1.5em;
}
.container-nav__bar li:hover {
  border-bottom: 2px solid #fff;
}

.container-banner {
  position: relative;
}
.container-banner img {
  position: relative;
  width: 100%;
  z-index: -1;
}
.container-banner a {
  position: absolute;
  z-index: 30;
  top: 60%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #000;
  background: rgb(228, 197, 94);
  text-decoration: none;
  color: #000;
}
.container-banner a:hover {
  color: #fff;
  text-shadow: 2px 2px 10px #000;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 230px;
  background: rgb(0, 0, 0);
}
.container-footer__info {
  padding: 50px 0;
}
.container-footer__info--redes li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  list-style: none;
}
.container-footer__info--redes li i {
  font-size: 20px;
  color: #fff;
}
.container-footer__info--redes li:hover {
  background-color: #fff;
  border: 2px solid #000;
}
.container-footer__info--redes li:hover i {
  color: #000;
}
.container-footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer__nav li {
  display: inline-block;
}
.container-footer__nav li a {
  margin: 0 40px;
  text-decoration: none;
  color: #fff;
}
.container-footer__nav li a:hover {
  border-bottom: 2px solid #fff;
}
.container-footer__developer {
  grid-column: 1/3;
  padding: 0 0 20px 0;
}
.container-footer__developer h2 {
  text-align: center;
  font-size: 1em;
  color: #888;
}
.container-footer__developer h3 {
  text-align: center;
}
.container-footer__developer h3 a {
  font-size: 0.8em;
  color: #888;
  text-decoration: none;
}
.container-footer__developer h3 a:hover {
  border-bottom: 2px solid #888;
}

/*MAIN SHOWS*/
.container-shows {
  margin: 300px 300px 0 300px;
  height: 800px;
  text-align: center;
  background-image: url(../assets/img/grupo/img2.jpg);
  background-size: contain;
  background-repeat: repeat;
}
.container-shows .separador {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.container-shows h2 {
  font-size: 90px;
  color: #fff;
}
.container-shows .calendar {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}
.container-shows .calendar h1 {
  color: #fff;
  padding: 0 0 15px 0;
}
.container-shows .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
.container-shows .calendar .days-name {
  color: #000;
}
.container-shows .calendar .days div {
  text-align: center;
  padding: 5px;
  background: #fff;
}
.container-shows .calendar .days-Ocupados {
  background: #f00 !important;
}
.container-shows .calendar .days-Disponibles {
  outline: 2px solid #0f0;
}
.container-shows__navegation {
  margin: 40px 0;
}
.container-shows__navegation button {
  border: none;
  padding: 5px;
  font-weight: 900;
  border-radius: 4px;
  background: rgb(228, 197, 94);
}
.container-shows__navegation button:hover {
  cursor: pointer;
  color: #fff;
}
.container-shows__box-contact a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border: 2px solid #fff;
  background: #01015e;
  transition: all 0.5s ease;
}
.container-shows__box-contact a:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

/*MAIN MUSIC*/
.container-music {
  margin: 300px 120px 0px 120px;
}
.container-music__youtube {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.container-music__youtube-video {
  width: 655px;
  height: 409px;
  border: 2px solid rgb(228, 197, 94);
}

/*MAIN GALERIA FOTOS*/
.container-galery {
  margin: 300px 150px 0 150px;
}

/*# sourceMappingURL=styles.css.map */
