.container-TyC {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    font-size: 2em;
        h1 {
            font-family: 'Fira Sans';
        }    
        p {
            font-family: 'Fira Sans';
        }
        b {
            font-family: 'Fira Sans';
        }
        h2 {
            font-family: 'Fira Sans';
        }

}